 <!DOCTYPE html>

<html>
    <head>
        <!-- metadata -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="author" content="William J. Horn"/>
        <meta name="description" content="Coming soon."/>

        <title>Coming Soon</title>

        {{!-- todo: remember to uncomment these fonts --}}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link 
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@300&family=Nunito:wght@500&family=Press+Start+2P&family=Raleway:wght@100&family=Source+Code+Pro:wght@200;300;400&family=Source+Sans+Pro:wght@300;600&display=swap" 
        rel="stylesheet"
        >

        <link rel="stylesheet" href="./css/pages/base.css">
        <link id="theme-stylesheet" rel="stylesheet" href="./css/themes/default.css">
        <link rel="stylesheet" href="./css/utils/frost.css">
        <link rel="stylesheet" href="./css/utils/visibility.css">
    </head>

    <body class="">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {{{body}}}
    </body>
</html>