 <!DOCTYPE html>

<html>
    <head>
        <!-- metadata -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="author" content="William J. Horn"/>
        <meta name="description" content="Coming soon."/>

        <title>Coming Soon</title>

        <link rel="stylesheet" href="./css/base.css">
        <link id="theme-stylesheet" rel="stylesheet" href="./css/themes/default.css">
    </head>

    <body>
        {{!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> --}}
        {{{body}}}
    </body>
</html>