{{!-- <link rel="stylesheet" href="./css/themes/deep-green.css"> --}}
{{!-- <link rel="stylesheet" href="./css/themes/black-and-white.css"> --}}
<link rel="stylesheet" href="./css/pages/home.css">


<main class="main-container center-wide fill-half-wide fit-small-screen">

    {{!-- Main page header --}}
    <header class="pd-3">
        <div class="header-stripe"></div>

        <div class="flex-column flex-align-center">
            <p class="main-title thank-you-title cursive-font mg-2-bottom">Thank You</p>
            <div class="img-relative">
                <img class="pfp-flowers" src="./imgs/decorative/pfp-flowers.png" alt="">
                <img class="pfp" src="./imgs/icons/olive-pfp-1.png" alt="">
            </div>
            <p class="olive-name cursive-font main-title mg-6-top"><span>{</span> Olive <span>}</span></p>
        </div>
    </header>

    {{!-- Main page navigation bar --}}
    <nav class="mg-5-top">
        <div class="flex-row-wrap flex-center">
            <a class="button" href="#readme">README.md</a>
            <a class="button" href="#posts">Public_Posts.sql</a>
            <a class="button" href="#login">Login.js</a>
            <a class="button" href="#themes">Themes.json</a>
        </div>
    </nav>

    {{!-- Main page content body --}}
    <div class="flex-column-wrap flex-align-center pd-4 mg-6-top">
        <div id="readme" class="fill-three-quarters flex-column-wrap flex-align-center mg-4-bottom-all">
            <h2 class="sub-title text-center mg-5-bottom">README.md</h2>
            <div class="bg-theme-ten pd-3 text-article-center">
                <p class="mg-3-bottom">
                    Hello traveler!
                </p>
                <p>
                    Welcome to the official Olive fan page. This website was developed in honor of Olive; a very talented programmer who has helped many other programmers succeed in their programming endeavors 
                </p>
            </div>
            <div class="text-article-center">
                <p class="mg-3-bottom text-size-6">
                    Dear Olive,
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum debitis perferendis quae fugit minus totam nobis quidem modi expedita natus illo architecto accusamus accusantium, iste, eaque inventore voluptatem repudiandae sint. Assumenda cum provident accusantium nihil incidunt voluptatum blanditiis, odit pariatur in aut error ea nostrum? Beatae blanditiis facilis perferendis similique consequuntur impedit dolorum, sed, dicta hic quibusdam voluptate! Quis, nesciunt consequatur, ipsam voluptates corrupti a quo quos reiciendis ullam, totam atque adipisci minus voluptate et fugit veritatis nobis? Similique repellat cupiditate eos, id earum dolore obcaecati cumque nesciunt tenetur magnam officiis reiciendis error eveniet dolores quo facere modi! Dolore, praesentium.
                </p>
            </div>
        </div>
    </div>
</main>


<script src="./js/home.js"></script>