{{!-- <link rel="stylesheet" href="./css/themes/deep-green.css"> --}}
{{!-- <link rel="stylesheet" href="./css/themes/black-and-white.css"> --}}
<link rel="stylesheet" href="./css/pages/home.css">


<main class="main-container center-wide fill-half-wide fit-small-screen">

    {{!-- Main page header --}}
    <header class="pd-3">
        <div class="header-stripe"></div>

        <div class="flex-column flex-align-center">
            <p class="main-title thank-you-title cursive-font mg-2-bottom">Thank You</p>
            <div class="img-container">
                <img class="pfp-flowers" src="./imgs/decorative/pfp-flowers.png" alt="">
                <img class="pfp" src="./imgs/icons/olive-pfp-1.png" alt="">
            </div>
            <p class="olive-name cursive-font main-title mg-6-top"><span>{</span> Olive <span>}</span></p>
        </div>
    </header>

    {{!-- Main page navigation bar --}}
    <nav class="mg-5-top">
        <div class="flex-row-wrap flex-center">
            <a class="button" href="#readme">README.md</a>
            <a class="button" href="#posts">Public_Posts.sql</a>
            <a class="button" href="#login">Login.js</a>
            <a class="button" href="#themes">Themes.json</a>
        </div>
    </nav>

    {{!-- Main page content body --}}
    <div class="flex-column-wrap flex-align-center pd-4 mg-6-top">
        <div id="readme" class="fill-three-quarters flex-column-wrap flex-align-center">
            <h2 class="sub-title text-center mg-5-bottom">README.md</h2>
            <div class="bg-theme-ten pd-3 text-article-center">
                <p class="mg-3-bottom">
                    Welcome future-goer!
                </p>
                <p>
                    It seems you have stumbled across a fan-made fan page for Olive. Don't question it, just enjoy the ride.
                </p>
            </div>
        </div>
    </div>
</main>


<script src="./js/home.js"></script>