{{!-- <link rel="stylesheet" href="./css/themes/deep-green.css"> --}}
{{!-- <link rel="stylesheet" href="./css/themes/black-and-white.css"> --}}
<link rel="stylesheet" href="./css/pages/home.css">


<div class="main-container center-wide fill-half-wide fit-small-screen">

    {{!-- Main page header --}}
    <header class="pd-3">
        <div class="header-stripe"></div>

        <div class="flex-column flex-align-center">
            <p class="main-title thank-you-title cursive-font mg-2-bottom">Thank You</p>
            <div class="img-container">
                <img class="pfp-flowers" src="./imgs/flower-circle-3.png" alt="">
                <img class="pfp" src="./imgs/oliveboss-2.png" alt="">
            </div>
            <p class="olive-name cursive-font main-title mg-6-top"><span>~{</span> Olive <span>}~</span></p>
        </div>
    </header>

    {{!-- Main page navigation bar --}}
    <nav class="mg-5-top">
        <div class="flex-row-wrap flex-center">
            <a class="button" href="#about">README.md</a>
            <a class="button" href="#technical">Public_Posts.sql</a>
            <a class="button" href="#login">Login.js</a>
        </div>
    </nav>

    {{!-- Main page content body --}}
    <div>
    </div>
</div>


